<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.znzmo.points.dao.TbPointsDetailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pactera.znzmo.points.TbPointsDetails">
        <id column="id" property="id" />
        <result column="points_id" property="pointsId" />
        <result column="user_name" property="userName" />
        <result column="user_id" property="userId" />
        <result column="consume_points" property="consumePoints" />
        <result column="current_points" property="currentPoints" />
        <result column="total_points" property="totalPoints" />
        <result column="exchange_package" property="exchangePackage" />
        <result column="exchange_time" property="exchangeTime" />
        <result column="is_valid" property="isValid" />
        <result column="create_id" property="createId" />
        <result column="create_account" property="createAccount" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_account" property="updateAccount" />
        <result column="update_name" property="updateName" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
